<link href="https://fonts.googleapis.com/css?family=Questrial">
<mat-toolbar class="headerColorScheme" style="padding-top: 1em;padding-bottom: 1em;">
  <span class="logo">ooozee</span>
  <span fxFlex="5%" fxLayoutAlign="end" fxLayoutAlign.xs="center">
    <img src="/assets/images/maggi.jpg" height=30 width=41>
  </span>
  <span fxFlex="1%"></span>
  <form fxFlex="1 1 100%">
    <input type="text" class="search" value="" title="Search for Products, Brands and More" placeholder="Search for Products, Brands and More">
    <div fxFlex="8.33%">
      <button class="searchButton" type="submit">
        <svg width="15px" height="15px" xmlns="http://www.w3.org/2000/svg">
          <path fill="#212121" d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467"></path>
        </svg>
      </button>
    </div>
  </form>
  <span fxFlex="1%"></span>
  <button fxFlex="10%" class="cartButton" mat-raised-button color="primary">
    <svg class="cartSvg" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
      <path class="" d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1s.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86"
        fill="#fff"></path>
    </svg>CART </button>

  <span fxFlex="1%"></span>
  <span class="flex-spacer"></span>
  <button fxFlex="10%" class="cartButton" mat-raised-button color="primary" (click)="openLoginForm()">
    <span class="fa fa-sign-in fa-lg"></span>
    LOGIN
  </button>
</mat-toolbar>

<mat-toolbar class="headerColorScheme">
  <a mat-button routerLink="/home" routerLinkActive="active">
    <span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLinkActive="active">
    <span class="fa fa-info fa-lg"></span> About</a>
  <a mat-button routerLink="/itemdetail" routerLinkActive="active">
    <span class="fa fa-list fa-lg"></span> Items </a>
  <a mat-button routerLink="/contactus" routerLinkActive="active">
    <span class="fa fa-address-card fa-lg"></span> Contact</a>
</mat-toolbar>
<div class="store-card-categories">
  <div class="category-slider">
    <div class="slick-initialized slick-slider">
      <button class="slider__arrow slider__arrow--prev category-slider__arrow-previous" >
        <div class="slider__arrow--nav slider__arrow--left icon-angle-bracket-left slider__arrow--circle" title="Previous Product"
          aria-label="Previous Product"></div>
      </button>
      <div class="slick-list" >
        <div class="slick-track" style="opacity: 1; transform: translate3d(0px, 0px, 0px); width: 3696px;">
          <a class="slick-slide slick-active category-slider__category-block" style="outline:none;" data-index="0" tabindex="-1"
            href="/cn/fruits-vegetables/cid/9" >
            <img class="category-slider__category-img" alt="Fruits &amp; Vegetables" src="//webcdn.grofers.com/cdn/pdp/category-l0-9.jpg">
            <div class="category-slider__category-text">Fruits &amp; Vegetables</div>
          </a>
          <a class="slick-slide slick-active category-slider__category-block" style="outline:none;" data-index="1" tabindex="-1"
            href="/cn/grocery-staples/cid/16" >
            <img class="category-slider__category-img" alt="Grocery &amp; Staples" src="//webcdn.grofers.com/cdn/pdp/category-l0-16.jpg">
            <div class="category-slider__category-text">Grocery &amp; Staples</div>
          </a>
          <a class="slick-slide slick-active category-slider__category-block" style="outline:none;" data-index="2" tabindex="-1"
            href="/cn/beverages/cid/12" >
            <img class="category-slider__category-img" alt="Beverages" src="//webcdn.grofers.com/cdn/pdp/category-l0-12.jpg">
            <div class="category-slider__category-text">Beverages</div>
          </a>
          <a class="slick-slide slick-active category-slider__category-block" style="outline:none;" data-index="3" tabindex="-1"
            href="/cn/home-kitchen/cid/1047" >
            <img class="category-slider__category-img" alt="Home &amp; Kitchen" src="//webcdn.grofers.com/cdn/pdp/category-l0-1047.jpg">
            <div class="category-slider__category-text">Home &amp; Kitchen</div>
          </a>
          <a class="slick-slide slick-active category-slider__category-block" style="outline:none;" data-index="4" tabindex="-1"
            href="/cn/household-needs/cid/18">
            <img class="category-slider__category-img" alt="Household Needs" src="//webcdn.grofers.com/cdn/pdp/category-l0-18.jpg">
            <div class="category-slider__category-text">Household Needs</div>
          </a>
          <a class="slick-slide category-slider__category-block" style="outline:none;" data-index="5" tabindex="-1" href="/cn/personal-care/cid/163"
            >
            <img class="category-slider__category-img" alt="Personal Care" src="//webcdn.grofers.com/cdn/pdp/category-l0-163.jpg">
            <div class="category-slider__category-text" >Personal Care</div>
          </a>
          <a class="slick-slide category-slider__category-block" style="outline:none;" data-index="6" tabindex="-1" href="/cn/breakfast-dairy/cid/14"
            >
            <img class="category-slider__category-img" alt="Breakfast &amp; Dairy" src="//webcdn.grofers.com/cdn/pdp/category-l0-14.jpg">
            <div class="category-slider__category-text">Breakfast &amp; Dairy</div>
          </a>
          <a class="slick-slide category-slider__category-block" style="outline:none;" data-index="7" tabindex="-1" href="/cn/biscuits-snacks-chocolates/cid/13"
            >
            <img class="category-slider__category-img" alt="Biscuits, Snacks &amp; Chocolates" src="//webcdn.grofers.com/cdn/pdp/category-l0-13.jpg">
            <div class="category-slider__category-text">Biscuits, Snacks &amp; Chocolates</div>
          </a>
          <a class="slick-slide category-slider__category-block" style="outline:none;" data-index="8" tabindex="-1" href="/cn/noodles-pasta-instant-food/cid/15">
            <img class="category-slider__category-img" alt="Noodles, Pasta &amp; Instant Food" src="//webcdn.grofers.com/cdn/pdp/category-l0-15.jpg">
            <div class="category-slider__category-text">Noodles, Pasta &amp; Instant Food</div>
          </a>
          <a class="slick-slide category-slider__category-block" style="outline:none;" data-index="9" tabindex="-1" href="/cn/sauces-jams-condiments/cid/972"
            >
            <img class="category-slider__category-img" alt="Sauces, Jams &amp; Condiments" src="//webcdn.grofers.com/cdn/pdp/category-l0-972.jpg">
            <div class="category-slider__category-text">Sauces, Jams &amp; Condiments</div>
          </a>
          <a class="slick-slide category-slider__category-block" style="outline:none;" data-index="10" tabindex="-1" href="/cn/baby-kids/cid/7"
            >
            <img class="category-slider__category-img" alt="Baby &amp; Kids" src="//webcdn.grofers.com/cdn/pdp/category-l0-7.jpg">
            <div class="category-slider__category-text" >Baby &amp; Kids</div>
          </a>
          <a class="slick-slide category-slider__category-block" style="outline:none;" data-index="11" tabindex="-1" href="/cn/organic-gourmet/cid/650"
            >
            <img class="category-slider__category-img" alt="Organic &amp; Gourmet" src="//webcdn.grofers.com/cdn/pdp/category-l0-650.jpg">
            <div class="category-slider__category-text" >Organic &amp; Gourmet</div>
          </a>
          <a class="slick-slide category-slider__category-block" style="outline:none;" data-index="12" tabindex="-1" href="/cn/pet-care/cid/5"
            >
            <img class="category-slider__category-img" alt="Pet Care" src="//webcdn.grofers.com/cdn/pdp/category-l0-5.jpg">
            <div class="category-slider__category-text">Pet Care</div>
          </a>
        </div>
      </div>
      <button class="slider__arrow slider__arrow--next category-slider__arrow-next" >
        <div class="slider__arrow--nav slider__arrow--right icon-angle-bracket-right slider__arrow--circle" title="Next Product"
          aria-label="Next Product" ></div>
      </button>
    </div>
  </div>
</div>

<div class="container jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Ooozee</h1>
    <p>Tierd of buying grocery? We are here for you!</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/maggi.jpg" alt="Logo">
  </div>
  <div fxFlex></div>
</div>