.test1 {
  background-color: #EB0808
}

.test2 {
  background-color: #F2FD1C
}


$lt-gray: #ddd;
$background-dark: #E95A5C;
$background-light: #F25D5F;
$background-pale: #F5B9BA;
$background-moredark: #FA3A3D;



@mixin zero-margin($pad-up-down, $pad-left-right) {

  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

.jumbotron {
  @include zero-margin(70px, 30px);
  background: $background-light;
  color: floralwhite;
  min-height: 150px;
  text-decoration-color: #ddd
}


.active {
  background: $background-moredark;
}
