<div class="containerPersonal" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex *ngIf="items">
    <mat-grid-list cols="4" rowHeight="400px" gutterSize="1em">
      <mat-grid-tile *ngFor="let item of items" [routerLink]="['/itemadetail', item.id]" >
        <mat-card appHighlight>
          <img mat-card-image height="200px" src="{{baseURL + item.image}}" alt="{{ item.name}}" class=".mat-unstyled-image">
          <mat-card-subtitle>
            {{item.name | uppercase}}
          </mat-card-subtitle>
          <mat-card-content>&#x20B9; {{ item.price }}</mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="items || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>