<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <md-grid-list cols="4" rowHeight="200px" gutterSize="1em">
      <md-grid-tile *ngFor="let item of items" [routerLink]="['/itemdetail', item.id]">
        <img height="200px" src={{item.image}} alt={{item.name}}>
        <md-grid-tile-footer>
          <h1 md-line>{{item.name | uppercase}}</h1>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
