<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex *ngIf="items">
    <md-grid-list cols="4" rowHeight="400px" gutterSize="1em">
      <md-grid-tile *ngFor="let item of items" [routerLink]="['/itemdetail', item.id]">
        <md-card>
          <img md-card-image height="200px" src="{{BaseURL + item.image}}" alt="{{ item.name}}" class=".md-unstyled-image">
          <md-card-subtitle>
            {{item.name | uppercase}}
          </md-card-subtitle>
          <md-card-content>&#x20B9; {{ item.price }}</md-card-content>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <div [hidden]="items || errMess">
    <md-spinner></md-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>