
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
    
    <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" 
    fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" style="margin: 0px; background-color:#0CDABB;font-family: 'Encode Sans Expanded', sans-serif;" >
    <div class="row" fxLayoutAlign="end" fxLayoutAlign.xs="center"> Order via Phone </div>
    <span fxFlex.gt-md="1%"></span>
    <div class="row" fxLayoutAlign.xs="center">1800-180-180 </div>
</div>

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107365422-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments) };
    gtag('js', new Date());

    gtag('config', 'UA-107365422-1');

</script>