<div fxFlex *ngIf="item" [@visibility]="visibility">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>{{ item.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{baseURL + item.image}}" alt="{{baseURL + item.name}}">
    <mat-card-content>
      <p>{{ item.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/itemadetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
      <button mat-button (click)="goBack()">BACK</button>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <button mat-button [routerLink]="['/itemadetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
    </mat-card-actions>
  </mat-card>
</div>

<div [hidden]="item || errMess">
  <mat-spinner></mat-spinner>
  <h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>