<app-carousel></app-carousel>
<!-- <mat-content layout-padding> -->
  <mat-grid-list cols="{{ cols|async }}" mat-cols-gt-mat="3" mat-cols-sm="1" mat-cols-mat="2" rowHeight="150px">
    <mat-grid-tile *ngFor="let category of categories">
      <a href="{{ category.redirect }}" id="A_6"></a>
      <div id="DIV_7">
        <div id="DIV_8">
          <img src="{{ category.url }}" alt="{{ category.name }}" id="IMG_9" />
        </div>
        <div id="DIV_10">
          <div id="DIV_11">
            {{ category.name }}
          </div>
          <div id="DIV_12">
            <div id="DIV_13">
              {{ category.description }}
              <wbr id="WBR_14" />
            </div>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
<!-- </mat-content> -->
<div class="containerPersonal" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-mat="space-around center"
  fxLayoutGap="10px">

  <mat-card *ngIf="item" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{ item.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{baseURL + item.image}}" alt="{{ item.name}}">
    <mat-card-content>
      <p>{{ item.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="promotion" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{promotion.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{baseURL + promotion.image}}" alt={{promotion.name}}>
    <mat-card-content>
      <p>{{promotion.description}}
      </p>
    </mat-card-content>
  </mat-card>

</div>